# Misc
*.pyc
.DS_Store

# Cache folders
*/__pycache__
shared_scripts/__pycache__
Global-examples/plate_mvt/scripts/__pycache__
Global-examples/erodep_1My/scripts/__pycache__
Local-examples/flow_direction/scripts/__pycache__
Local-examples/generate_2Dmesh/scripts/__pycache__
Global-examples/continental_flux/scripts/__pycache__
Local-examples/escarpment_retreat/scripts/__pycache__
Local-examples/stratigraphic_record/scripts/__pycache__
Local-examples/implicit_timestepping/scripts/__pycache__

# Local examples
Local-examples/dual_lithology/meshinputs0
Local-examples/dual_lithology/strati*
Local-examples/dual_lithology/results
Local-examples/dual_lithology/inputs
Local-examples/soil_generation/results
Local-examples/soil_generation/sim_river_soil
Local-examples/stratigraphic_record/inputs
Local-examples/stratigraphic_record/advect
Local-examples/stratigraphic_record/strati*
Local-examples/stratigraphic_record/results
Local-examples/stratigraphic_record/meshinputs0
Local-examples/implicit_timestepping/data
Local-examples/implicit_timestepping/slope_tec
Local-examples/implicit_timestepping/sim_slope_*
Local-examples/implicit_timestepping/results
Local-examples/glacial_erosion/sim_*
Local-examples/generate_2Dmesh/slope_tec
Local-examples/generate_2Dmesh/escarpment
Local-examples/generate_2Dmesh/geotiff*
Local-examples/flow_direction/sombrero
Local-examples/flow_direction/results
Local-examples/flow_direction/data
Local-examples/flow_direction/sim_*
Local-examples/escarpment_retreat/escarpment*
Local-examples/escarpment_retreat/tmp*
Local-examples/escarpment_retreat/results
Local-examples/escarpment_retreat/nc-escarpment
Local-examples/ferricrete_inversion/sim_ferricrete
Local-examples/groundwater_geochem/results
Local-examples/groundwater_geochem/sim_gw_geochem

# Global examples
Global-examples/plate_mvt/input_30
Global-examples/plate_mvt/silico*
Global-examples/plate_mvt/vars_30
Global-examples/plate_mvt/export
Global-examples/plate_mvt/results
Global-examples/plate_mvt/flowsed
Global-examples/erodep_1My/nlts
Global-examples/erodep_1My/export
Global-examples/erodep_1My/vars_*
Global-examples/erodep_1My/flowsed
Global-examples/erodep_1My/silico*
Global-examples/erodep_1My/picard
Global-examples/erodep_1My/results
Global-examples/erodep_1My/input_40
Global-examples/continental_flux/vars_*
Global-examples/continental_flux/silico*
Global-examples/continental_flux/input_*
Global-examples/continental_flux/results*
Global-examples/continental_flux/export*
Global-examples/continental_flux/flowsed
Global-examples/continental_flux/cellWidth*
Local-examples/groundwater_geochem/sim_gw_geochem
Local-examples/solute_provenance/sim_solute_provenance
Global-examples/continental_geochem/silico_geochem
Global-examples/continental_geochem/flowsed
Global-examples/continental_geochem/surface*.nc
Global-examples/continental_geochem/results
# Global-examples/continental_geochem/geochem_inputs.npz
