.DS_Store
*/__pycache__
shared_scripts/__pycache__
Local-examples/stratigraphic_record/strati*
Local-examples/stratigraphic_record/results
Local-examples/stratigraphic_record/meshinputs0
Local-examples/stratigraphic_record/scripts/__pycache__
Local-examples/implicit_timestepping/slope_tec
Local-examples/implicit_timestepping/sim_slope_*
Local-examples/implicit_timestepping/results
Local-examples/implicit_timestepping/scripts/__pycache__
Local-examples/glacial_erosion/sim_*
Local-examples/generate_2Dmesh/scripts/__pycache__
Local-examples/generate_2Dmesh/slope_tec
Local-examples/generate_2Dmesh/escarpment
Local-examples/generate_2Dmesh/geotiff*
Local-examples/flow_direction/scripts/__pycache__
Local-examples/flow_direction/sombrero
Local-examples/flow_direction/results
Local-examples/flow_direction/sim_*
Local-examples/escarpment_retreat/scripts/__pycache__
Local-examples/escarpment_retreat/escarpment*
Local-examples/escarpment_retreat/tmp*
Local-examples/escarpment_retreat/nc-escarpment
*.pyc